<!-- <span ngClass="validatorWarning" *ngIf="(validInComponent).errors && (validInComponent).errors.required && (validInComponent).touched">
    !שדה זה חובה
</span>
<span ngClass="validatorWarning" *ngIf="(validInComponent).errors && (validInComponent).errors.minlength && (validInComponent).touched">
    שדה זה חייב להכיל לפחות {{(validInComponent).errors.minlength.requiredLength}}
    וכעת ישנם רק {{(validInComponent).errors.minlength.actualLength}}
</span>
<span ngClass="validatorWarning" *ngIf="(validInComponent).errors && (validInComponent).errors.maxlength && (validInComponent).touched">
    שדה זה חייב להכיל עד {{(validInComponent).errors.maxlength.requiredLength}}
    וכעת ישנם {{(validInComponent).errors.maxlength.actualLength}}
</span>
<span ngClass="validatorWarning" *ngIf="(validInComponent).errors && (validInComponent).errors.errorPassword && (validInComponent).touched">
    !הסיסמא שהוקשה אינה תואמת
</span>
<span ngClass="validatorWarning" *ngIf="(validInComponent).errors && (validInComponent).errors.email && (validInComponent).touched">
!@ המייל שהכנסת לא תקין-חובה להכיל 
</span>
<span ngClass="validatorWarning" *ngIf="(validInComponent).errors && (validInComponent).errors.max && (validInComponent).touched">
   ערך גבוה מהאפשרי
</span> -->